{% extends "blog/base.html" %}
{% block content %}
    <h1>About Page</h1>
    <div>
        <p>
            This is a simple blog powered by Django. Feel free to copy this and use it for your own projects!
        <p>Try making a user account (not externally connected), delete and edit posts! access the Django admin panel using /admin and credintials UN: alex PASS: 123</p>
        <p>My personal website is <a href="https://calmcoconut.github.io/Alejandro-Diaz-Portfolio/">Here.</a>

        </p>

    </div>
{% endblock content %}